@section Styles{
    <link rel="stylesheet" href="~/css/Section.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnInstructorId" type="hidden" value="@ViewBag.InstructorId" />
<input id="hdnCampusId" type="hidden" value="@ViewBag.CampusId" />
<input id="hdnClassLevel" type="hidden" value="@ViewBag.ClassLevel" />
<input id="hdnCollege" type="hidden" value="@ViewBag.College" />
<input id="hdnCreditType" type="hidden" value="@ViewBag.CreditType" />
<input id="hdnCurriculum" type="hidden" value="@ViewBag.Curriculum" />
<input id="hdnDepartment" type="hidden" value="@ViewBag.Department" />
<input id="hdnEndDate" type="hidden" value="@ViewBag.EndDate" />
<input id="hdnEndTime" type="hidden" value="@ViewBag.EndTime" />
<input id="hdnEventId" type="hidden" value="@ViewBag.EventId" />
<input id="hdnEventSubType" type="hidden" value="@ViewBag.EventSubType" />
<input id="hdnEventType" type="hidden" value="@ViewBag.EventType" />
<input id="hdnGeneralEd" type="hidden" value="@ViewBag.GeneralEd" />
<input id="hdnKeywords" type="hidden" value="@ViewBag.Keywords" />
<input id="hdnMeeting" type="hidden" value="@ViewBag.Meeting" />
<input id="hdnNonTradProgram" type="hidden" value="@ViewBag.NonTradProgram" />
<input id="hdnPeriod" type="hidden" value="@ViewBag.Period" />
<input id="hdnPopulation" type="hidden" value="@ViewBag.Population" />
<input id="hdnProgram" type="hidden" value="@ViewBag.Program" />
<input id="hdnRegistrationType" type="hidden" value="@ViewBag.RegistrationType" />
<input id="hdnSession" type="hidden" value="@ViewBag.Session" />
<input id="hdnStartDate" type="hidden" value="@ViewBag.StartDate" />
<input id="hdnStartTime" type="hidden" value="@ViewBag.StartTime" />
<input id="hdnStatus" type="hidden" value="@ViewBag.Status" />
<input id="hdnTerm" type="hidden" value="@ViewBag.AcademicTerm" />
<input id="hdnYear" type="hidden" value="@ViewBag.AcademicYear" />

@section Scripts{
    <script src="~/js/Section.js" asp-append-version="true"></script>
    <script src="~/js/SearchVendors.js" asp-append-version="true"></script>
}