@using SelfService.Models.Payment;
@inject Hedtech.PowerCampus.Core.Interfaces.Helpers.ISerializationHelper SerializationHelper

@section Styles{
    <link rel="stylesheet" href="~/css/ApplicationForm.css" asp-append-version="true" />
}
<div id="root"></div>
@{
    if (ViewBag.PaymentTransaction != null)
    {
        PaymentTransactionViewModel paymentTransaction = SerializationHelper.ToObject<PaymentTransactionViewModel>((string)ViewBag.PaymentTransaction);
        <input id="hdnTransactionId" type="hidden" value="@paymentTransaction.TransactionId" />
        <input id="hdnTransactionStatus" type="hidden" value="@paymentTransaction.Status" />
        <input id="hdnTransactionAmount" type="hidden" value="@paymentTransaction.Amount" />
        <input id="hdnTransactionDescription" type="hidden" value="@paymentTransaction.Description" />
        <input id="hdnTransactionAuthorizationNumber" type="hidden" value="@paymentTransaction.AuthorizationNumber" />
        <input id="hdnTransactionReturnUrl" type="hidden" value="@paymentTransaction.ReturnUrl" />
    }
}
<input id="hdnApplicationId" type="hidden" value="@ViewBag.ApplicationId" />
<input id="hdnCurp" type="hidden" value="@ViewBag.Curp" />
<input id="hdnSavedApplicationToken" type="hidden" value="@ViewBag.SavedApplicationToken" />
@section Scripts{
    <script src="~/js/ApplicationForm.js" asp-append-version="true"></script>
    <script src="~/js/AdmissionsVendors.js" asp-append-version="true"></script>
}