@model SelfService.Models.Section.SectionAttendanceDownloadViewModel

<table class="">
    <tr>
        <th>
            @Html.Label(Model.Resources.LblName)
        </th>
        <th>
            @Html.Label(Model.Resources.LblPeopleId)
        </th>
        <th>
            @Html.Label(Model.Resources.LblWithdrawn)
        </th>
        <th>
            @Html.Label(Model.Resources.LblEmail)
        </th>
        @if (Model.ShowDailyAttendance)
        {
            <th>
                @Html.Label(Model.Resources.LblExcusedAbsence)
            </th>
            <th>
                @Html.Label(Model.Resources.LblUnexcusedAbsence)
            </th>
            <th>
                @Html.Label(Model.Resources.LblExcusedTardiness)
            </th>
            <th>
                @Html.Label(Model.Resources.LblUnexcusedTardiness)
            </th>
        }
        @if (Model.ShowOverallAttendance)
        {
            <th>
                @Html.Label(Model.Resources.LblOverallAttendance)
            </th>
            <th>
                @Html.Label(Model.Resources.LblLastDateAttended)
            </th>
        }
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleId)
            </td>
            <td>
                @if (item.Withdrawn)
                {
                    @Html.Label(Model.Resources.LblWithdrawn)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @if (Model.ShowDailyAttendance)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ExcusedAbsence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnexcusedAbsence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcusedTardiness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnexcusedTardiness)
                </td>
            }
            @if (Model.ShowOverallAttendance)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.OverallAttendance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDateAttended)
                </td>
            }
        </tr>
    }
</table>